<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ARBOLITOS</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global/css/documentacion.css') }}">
</head>
<body>
        {% block contenido %}
        {% endblock %}

<script src="{{ url_for('static', filename='global/js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>