<div class="form-group">
        {{ formulario.usuario.label }}
        {{ formulario.usuario(class="form-control") }}

        {{ formulario.apellido1.label }}
        {{ formulario.apellido1(class="form-control") }}

        {{ formulario.apellido2.label }}
        {{ formulario.apellido2(class="form-control") }}

        {{ formulario.correo.label }}
        {{ formulario.correo(class="form-control") }}

        {{ formulario.rol.label }}
        {{ formulario.rol(class="form-control") }}

        {{ formulario.activo.label }}
        {{ formulario.activo(class="form-control") }}

</div>